*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header{
    display: flex;
    align-items: center;
    background-color:rgba(72, 15, 228, 0.856);
    justify-content: space-evenly;
}
img#hero{
    width: 200px ;
    border-radius: 25%;
    margin: 20px;
}
h1#hero{
    color: white;
    font-family: 'Silkscreen', cursive;
    font-size: 50px;
    }
nav{
    background-color: white;
}
ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
li a{
    font-family: 'Silkscreen', cursive;
    font-size: 30px;
    width: 100px;
    text-decoration: none;
}

 